* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
html,
body {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: "Lato";
    overflow: hidden;
}
body {
    background: url('../image/background.jpg');
    background-size: cover;
}
#loginPanel {
    padding: 3% 20% 20% 20%;
}
#cashPanel,
#adminPanel,
#loginPanel {
    color: white;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#cashPanel,
#adminPanel,
#clientSelectionPanel {
    display: none;
}
input {
    width: 100%;
    margin: 2px 2px 3px 2px;
    padding: 7px;
    background: transparent;
    position: relative;
    display: block;
    color: white;
    border-color: rgba(119, 119, 119, 0.5);
    border-width: 0px 0px 1px 0px;
    font-size: 18px;
}
input:hover {
    border-color: rgba(119, 119, 119, 0.75);
}
input:focus {
    border-color: rgba(119, 119, 119, 1);
    outline-width: 0;
}
input[type=submit] {
    cursor: pointer;
    font-size: 20px;
    padding: 12px 10px;
    color: rgba(255, 255, 255, 0.95);
    background: rgba(88, 132, 158, 0.9);
    border-radius: 4px;
    font-weight: 300;
    font-family: "Lato";
}
::-webkit-scrollbar {
    display: none
}
button {
    display: inline-block;
    width: 50%;
    border: 0;
    font-size: 20px;
    padding: 10px 10px;
    color: rgba(255, 255, 255, 0.95);
    background: rgba(88, 132, 158, 0.9);
    font-family: "Helvetica Neue";
    font-weight: 200;
    outline: none;
    float: left;
}
button:hover {
    background: rgba(88, 132, 158, 0.4);
}
#orderListControlPanel button:nth-child(2) {
    margin-right: 1px;
    margin-left: -1px;
}
#orderListControlPanel {
    position: absolute;
    width: 40%;
    bottom: 0;
}
input[type=submit]:hover {
    background: rgba(88, 132, 158, 1);
}
#userBalance,
#totalPrice {
    width: 100%;
    vertical-align: middle;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "Helvetica Neue";
    font-weight: 100;
}
#userBalance i {
    color: rgba(255, 255, 255, 0.8);
    padding: 12px 10px 0px 0px;
    float: right;
}
#userBalance i:hover {
    color: rgba(255, 255, 255, 1);
    padding: 12px 10px 0px 0px;
    float: right;
}
#userBalance i.open {
    color: #1f1f1f;
}
#userBalance span#simulatedNewUserBalance {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    vertical-align: middle;
}
#totalPrice {
    font-size: 25px;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 0px;
    padding: 3px 10px;
    text-align: right;
}
#userOrder {
    width: 100%;
    overflow-y: auto;
}
#orderList {
    width: 40%;
    height: 100%;
    float: left;
}
#orderList,
#userBalance {
    background-color: rgba(255, 255, 255, 0.1);
}
#drinkList {
    width: 60%;
    float: left;
    overflow-y: auto;
    height: 100%;
    background: rgba(44, 83, 106, 0.6);
}
.drink {
    font-size: 22px;
    width: 50%;
    position: relative;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: rgba(255, 255, 255, 0.21);
    vertical-align: top;
    padding: 20px 15px;
    float: left;
    font-weight: 500;
    text-align: center;
}
.drink span {
    display: block;
    font-size: 14px;
    font-weight: 200;
}
.drink:hover {
    background: rgba(88, 132, 158, 0.4);
    cursor: pointer;
}
.drink.inactive {
    color: rgba(181, 181, 181, 0.62);
    background-color: transparent;
    cursor: default;
}
.drink .currentPrice {
    font-size: 28px;
}
#userAddCash table {
    text-align: center;
}
#userOrder,
#manageDrinkPanel {
    font-weight: 300;
}
#userOrder tr td,
#manageDrinkPanel tr td {
    padding: 10px;
}
#userOrder tr td:last-child,
#userOrder tr td:first-child {
    font-weight: 400;
}
#userOrder tr td:nth-child(2),
#manageDrinkPanel tr td:nth-child(2),
#manageDrinkPanel tr th:nth-child(2),
#userOrder tr td:last-child,
#manageDrinkPanel tr td:nth-child(6),
#manageDrinkPanel tr th:nth-child(6) {
    text-align: right;
}
#manageDrinkPanel tr td:nth-child(6) input[type="checkbox"].ios-switch + div {
    float: right;
}
#manageDrinkPanel tr.adminPanelDrink:hover {
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.2) !important;
}
#manageDrinkPanel tr.adminPanelDrink td:nth-child(6),
#manageDrinkPanel tr.adminPanelDrink td:last-child {
    cursor: pointer;
}
#manageDrinkPanel tr:nth-child(even):hover > td {
    background: transparent;
}
#manageDrinkPanel tr.editDrink td {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.25) !important;
}
#manageDrinkPanel tr.editDrink td:first-child {
    border-radius: 0px 0px 0px 4px;
}
#manageDrinkPanel tr.editDrink td:nth-child(6) {
    border-radius: 0px 0px 4px 0px;
}
#manageDrinkPanel tr.editDrink td input {
    width: 100%;
    padding: 7px;
    background: transparent;
    position: relative;
    border-radius: 4px;
    color: white;
    border: 1px solid rgba(183, 183, 183, 0.5);
    font-size: 16px;
}
#manageDrinkPanel tr.editDrink td input:focus {
       background-color: rgba(0, 0, 0, 0.35) !important;
}
#manageDrinkPanel tr:nth-child(even) td,
#userOrder tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}
#manageDrinkPanel tr td:last-child {
    background-color: rgba(255, 255, 255, 0) !important;
    width: 30px;
}
#manageDrinkPanel th {
    text-align: left;
    padding: 12px;
}
#cashPanelId {
    padding: 3px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    font-family: "Helvetica Neue";
    font-weight: 100;
}
#userOrderTable {
    width: 100%;
    overflow-y: auto;
    height: auto;
}
#userAddCash {
    display: none;
}
#userAddCash p {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 12px;
    text-align: right;
}
#userAddCash table {
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}
#userAddCash table tr td:nth-child(3) {
    border-right: 1px solid transparent;
}
#userAddCash table tr td {
    width: 33.33333333333333%;
    padding: 15px;
    border-top: 1px solid rgba(196, 196, 196, 0.5);
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}
#userAddCash table tr td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
#userAddCash table tr td.delete {
    background-color: rgba(0, 0, 0, 0.4);
}
#userAddCash table tr td.delete:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
#userAddCash table tr td.mode {
    background-color: rgba(255, 255, 255, 0.5);
}
#userAddCash table tr td.button {
    background-color: rgba(88, 132, 158, 0.9);
    font-family: "Helvetica Neue";
    font-weight: 200;
}
#userAddCash table tr td.button:hover {
    background-color: rgba(88, 132, 158, 0.4);
}
a.button {
    background-color: rgba(88, 132, 158, 0.9);
    font-family: "Helvetica Neue";
    padding: 10px 14px;
    font-weight: 200;
    border-radius: 4px;
}
#loginPageHandler a.button {
    width: 27px;
    text-align: center;
    display: inline-block;
    padding: 5px 0px;
    vertical-align: top;
}
a.button:hover {
    background-color: rgba(88, 132, 158, 0.4);
    cursor: pointer;
}
#drinkListOverlayer {
    display: none;
    position: fixed;
    margin-left: 40%;
    background: rgba(0, 0, 0, 0.7);
    width: 60%;
    height: 100%;
    z-index: 200;
}
.menuItem {
    width: 25%;
    padding: 20px;
    float: left;
    border-right: 1px solid gray;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
}
.menuItem:hover {
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.menuItem:last-child {
    border-right: 0px;
}
#adminPanelMenu {
    border-bottom: 1px solid gray;
    position: absolute;
    display: block;
    width: 100%;
}
#settingPanel {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    top: 65px;
    position: absolute;
}
.actuellTab {
    background-color: rgba(0, 0, 0, 0.4);
}
#tabs {
    margin-left: -100%;
    width: 400%;
    display: block;
    position: relative;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
#settingPanel section {
    width: 25%;
    vertical-align: top;
    float: left;
    position: relative;
    height: 100%;
    padding: 50px 50px 0px 50px;
}
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 40px;
    cursor: pointer;
}
/* Normal Track */

input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    margin-left: 3px;
    width: 40px;
    height: 20px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
/* Checked Track (Blue) */

input[type="checkbox"].ios-switch:checked + div {
    width: 40px;
    background-position: 0 0;
    background-color: rgba(88, 132, 158, 0.9);
    border: 1px solid #456081;
    box-shadow: inset 0 0 0 10px rgba(88, 132, 158, 0.9);
}
/* Tiny Track */

input[type="checkbox"].tinyswitch.ios-switch + div {
    width: 34px;
    height: 18px;
}
/* Big Track */

input[type="checkbox"].bigswitch.ios-switch + div {
    width: 50px;
    height: 25px;
}
/* Green Track */

input[type="checkbox"].green.ios-switch:checked + div {
    background-color: #00e359;
    border: 1px solid rgba(0, 162, 63, 1);
    box-shadow: inset 0 0 0 10px rgba(0, 227, 89, 1);
}
/* Normal Knob */

input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}
/* Checked Knob (Blue Style) */

input[type="checkbox"].ios-switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}
/* Tiny Knob */

input[type="checkbox"].tinyswitch.ios-switch + div > div {
    width: 16px;
    height: 16px;
    margin-top: 1px;
}
/* Checked Tiny Knob (Blue Style) */

input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(16px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}
/* Big Knob */

input[type="checkbox"].bigswitch.ios-switch + div > div {
    width: 21px;
    height: 21px;
    margin-top: 1px;
}
/* Checked Big Knob (Blue Style) */

input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}
/* Green Knob */

input[type="checkbox"].green.ios-switch:checked + div > div {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63, 1);
}
#importExport {
    float: right;
    margin-right: 36px;
}
#userLogin #overlayer {
    background: transparent;
    width: 100%;
    height: 100%;
    ;
    position: absolute;
    z-index: 30;
}
#graphContainer {
    width: 100%;
    height: 100%;
}
#monitorPanel {
    width: 100%;
    height: 100%;
}
#partyActive {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 300;
    padding: 20px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.3);
}
#configurationPanel {
    padding: 0px !important;
    margin: 0;
}
#clientDeviceList {
    float: left;
    list-style-type: none;
    display: inline-block;
    height: 100%;
    width: 25%;
    border-right: 1px solid gray;
    position: absolute;
    overflow-y: auto;
}
#clientDeviceList li:nth-child(even):hover {
    background: rgba(0, 0, 0, 0.2);
}
#clientDeviceList li:hover {
    background: rgba(0, 0, 0, 0.2);
}
#clientDeviceList li {
    padding: 10px 10px 10px 20px;
}
#clientDeviceList li:nth-child(even) {
    background: rgba(255, 255, 255, 0.1);
}
#clientDevicePreview {
    float: right;
    width: 75%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    overflow-y: auto;
}
#grayOverlayer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    z-Index: 5000000;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
}
#userAccountBalance {
    font-size: 30px;
    font-family: "Helvetica Neue";
    font-weight: 100;
}
#clientSelection {
    width: 100%;
    height: 100%;
    padding: 5%;
}
#clientSelection div {
    width: 33.3333333%;
    display: inline-block;
    padding: 20px;
}
#clientSelection div ul {
    padding: 30px 25px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: 1px solid #606060;
}
#clientSelection div ul:hover {
    background: rgba(131, 162, 204, 0.12);
    cursor: pointer;
}
#clientSelection div ul li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}
#clientSelection div ul li span {
    color: gray;
    font-size: 12px;
}
#clientSelection div ul li:nth-child(1) {
    width: 20.0%;
    font-size: 30px;
    font-family: "Helvetica Neue";
    font-weight: 100;
}
#clientSelection div ul li:nth-child(2) {
    width: 50.0%;
    font-size: 20px;
}
#clientSelection div ul li:nth-child(3) {
    width: 30%;
    font-size: 40px;
}